<!-- <header class="site-header"> -->
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href="{{site.baseurl}}/">Aska<small> (投票クラスタリング)</small></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <!-- Language Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="flag-icon flag-icon-jp"></i>
        </a>
        <div class="dropdown-menu">
          <a href="https://aska.systems/" class="dropdown-item">
            <i class="flag-icon flag-icon-us mr-2"></i> English
          </a>
          <a href="https://aska.systems/jp/" class="dropdown-item">
            <i class="flag-icon flag-icon-jp mr-2"></i> 日本語
          </a>
          <!-- <a href="#" class="dropdown-item">
            <i class="flag-icon flag-icon-de mr-2"></i> German
          </a>
          <a href="#" class="dropdown-item">
            <i class="flag-icon flag-icon-fr mr-2"></i> French
          </a>
          <a href="#" class="dropdown-item">
            <i class="flag-icon flag-icon-es mr-2"></i> Spanish
          </a> -->
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{{site.baseurl}}/gallery">Gallery <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{site.baseurl}}/">About <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<!-- </header> -->
